<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div class="chat-container">
        <h2>Chat ID: {{chat.id}}</h2>
        <ul class="message-list">
            {{#each chat.messages}}
            <li>{{this.sender}} : {{this.text}}</li>
            {{/each}}
        </ul>
    </div>
  </body>
</html>